body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 14px;

}

h1, h2, h3, #mid {
  font-weight: bold;
}

h1 {
  font-size: 70px;
  color: white;
  padding-top: 5px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

a {
  font-size: 18px;
  color: white;
}

nav a {
  display: block;
  line-height: 1.7;
}

#top {
  background-image: url("../images/the-flatiron-building.png");

}

#mid h3{
  background-image: url("../images/the-flatiron-building.png");
  color: white;
  font-size: 23px;
  padding: 5px;
}

#footer p {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
